* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: azure;
  margin: 1.5rem;
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: flex-end;
  /* flex-wrap: wrap; */
}

.con {
  border: 1px solid red;
  height: 5vh;
  width: 10vw;
}