* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: beige;
  margin-top: 10rem;
  height: 70vh;
  width: 100vw;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;

}

.con {
  border: 1px solid red ;
  width: 15vw;
  height: 10vh;
  text-align: center;
  text-wrap: wrap;
  
}


/* Con color's */

.con-1 {
  background-color: aliceblue;
}

.con-2 {
  background-color: antiquewhite;
}

.con-3 {
  background-color: aqua;
}

.con-4 {
  background-color: aquamarine;

}
.con-5 {
  background-color:rgb(248, 248, 197);
}
.con-6 {
  background-color: bisque;
}
.con-7 {
  background-color: blanchedalmond;

}
.con-8 {
  background-color: burlywood;
}
.con-9 {
  background-color: cadetblue;
}
.con-10 {
  background-color: cornflowerblue;
}