

*, 
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: antiquewhite;
  display: flex;
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
  justify-content: space-evenly;
  position: relative;
  top: 10px;
  left: 20px;
}

a {
  font-size: 32px;
  position: relative;
  top: 40px;
  text-decoration: none;
  border: 1px solid red ;
  height: 40px;
  padding: 0 10px;
}

a:after{
  content: "";
  background-color: aquamarine;
  position: absolute;
  height: 3px;
  width:0px ;
  left: 0;
  bottom: -10px;
  transition: all 2s;
}

a:hover:after {
  width: 100%;
}
