/* Import your FONT HERE */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body  {
  background-color: black;
}
nav {
  border: 2px solid cornflowerblue;
  background-color: beige;
  width: 50vw;
  height: 40vh;
  margin: 20px 30px 30px 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

a {
  font-size: 30px;
  text-decoration: none;
  color:black;

  position: relative;

}

a:after {
  position: absolute;
  /* content for makita yung line kung lagyan ito ng laman eto ay magkakaroo sa baba ng laman*/
  content: "";
  background-color: green;
  width: 0;
  /* Height for line heigth */
  height: 4px;
  left: 0;
  bottom: -10px;
  transition: all 2s;
}

a:hover::after{
  width: 100%;
}

a:hover {
  color:cornflowerblue;
  letter-spacing: 20px;
  transition: 2s;
}

